@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/User">For Only Authorized Users</a>
<br/>
<a href="/Admin">For Admins</a>
<br/>
<a href="/Client">For Clients</a>
<br/>
<a href="/Seller">For Sellers</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
